.header {
  display: flex;
  align-items: center;
  margin: 92px 24px 96px;
}

.header__menu {
  display: flex;
  justify-content: center;
  width: calc((1052px - 148px) / 2);
  letter-spacing: 0.01em;
  margin-bottom: 40px;
  margin-top: 44px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__logo {
  width: 148px;
  height: 105px;
  display: flex;
  justify-content: center;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  list-style: none;
  line-height: 24px;
  letter-spacing: 0.01em;
  padding-left: 184px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background: url("../images/cover.jpg") center / cover no-repeat;
  color: white;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  padding: 165px 50px;
}

.aligned-text {
  line-height: 115%;
  display: flex;
  justify-content: start;
}

.aligned-text_center {
  line-height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.aligned-text_right {
  line-height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: normal;
  margin-left: 78px;
}

.cover__description-text_letter-spacing_first {
  letter-spacing: 0.8em;
}

.cover__description-text_letter-spacing_second {
  letter-spacing: 0.9em;
}

.cover__description-text_letter-spacing_third {
  letter-spacing: 1.1em;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  margin-left: 79px;
  background-color: transparent;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
  color: white;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.bet-button:active {
  background-color: rgba(0 0 0 / 0.25);
}

.lots {
  width: 1052px;
  margin: 179px auto 146px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.lots__card-list-item {
  background-position: center;
  background-size: cover;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  color: white;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 51px 40px 0;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 48px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 23px;
  padding-left: 40px;
  display: flex;
  padding-top: 30px;
}

.about {
  width: 1052px;
  margin: 146px auto 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 240px 1fr;
  gap: 10px;
}

.about__logo_bg {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 240px;
  height: 240px;
  margin: 35px 47px 0;
  background-color: black;
  border-radius: 50%;
}

.about__logo {
  width: 148px;
  margin: 64px 62px 45px 46px;
}

.about__title {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  padding-top: 136px;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  padding-top: 35px;
}

.about__text_first_p {
  margin-bottom: 24px;
}

.footer {
  margin: 0 auto 88px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 21px;
}

.footer__menu {
  letter-spacing: 0.01em;
  padding-left: 36px;
  line-height: 21px;
  text-align: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
