body {
  font-weight: 400;
  font-size: 18px;
  color: black;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  height: 105px;
  /*border: 1px solid blue;*/
  margin: 92px 24px 96px;
}

.header__menu {
  display: flex;
  justify-content: center;
  width: calc((1052px - 148px) / 2);
  letter-spacing: 0.01em;
  margin-bottom: 40px;
  margin-top: 44px;
  /*border: 1px solid red;*/
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 32px;
  /*border: 1px solid green;*/
}

.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0;
}

.header__link {
  /*border: 1px solid blueviolet;*/
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__logo {
  width: 148px;
  height: 105px;
  display: flex;
  justify-content: center;
  /*border: 1px solid #fd24af;*/
}

.address {
  display: flex;
  box-sizing: border-box;
  font-style: normal;
  width: calc((1052px - 148px) / 2);
  /*border: 1px solid orange;*/
}

.header__address {
  list-style: none;
  display: flex;
  flex-direction: column;
  /*border: 1px solid mediumvioletred;*/
  padding-left: 184px;
  margin-bottom: 2px;
  margin-top: 5px;
  height: 98px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.cover {
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: static;
}

.cover__title {
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.aligned-text {
  line-height: 115%;
  margin-left: 50px;
  padding-top: 165px;
}

.aligned-text_center {
  line-height: 100%;
  margin-left: 336px;
  padding-top: 20px;
}

.aligned-text_right {
  line-height: 100%;
  margin-left: 633px;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  margin-top: 135px;
  align-items: center;
}

.cover__description-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: normal;
  margin-left: 78px;
}

.cover__description-text_letter-spacing_first {
  letter-spacing: 0.8em;
}

.cover__description-text_letter-spacing_second {
  letter-spacing: 0.9em;
}

.cover__description-text_letter-spacing_third {
  letter-spacing: 1.1em;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-left: 79px;
  background-color: transparent;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
  color: white;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.bet-button:active {
  background-color: rgba(0 0 0 / 0.25);
}

.lots {
  width: 1052px;
  height: 692px;
  margin: 179px auto 146px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.lots__card-list-item {
  background-position: center;
  background-size: cover;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 563px;
  color: white;
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 51px 40px 0;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 48px;
  height: 430px;
  align-content: end;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 23px;
  padding-left: 40px;
  display: flex;
  padding-top: 30px;
}

.about {
  width: 1052px;
  height: 595px;
  border: 1px solid red;
  margin-top: 146px;
}


